# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Streamlit logs
.streamlit/

# VSCode
.vscode/

# System files
Thumbs.db
